@import "sections/banner";
@import "components/card-block";

.container {
    background: #fafafa;
    padding-bottom: 40px;
    &__text {
        color: #555;
        & > .columns {
            display: flex;
        }
    }
    .card-block {
        display: flex;
        margin-top: 2rem;

        p {
            font-weight: 300;
            font-size: 1rem;
        }
    }
}
