.it-poster {
    background-color: #323341;
    font-weight: 300;
    .msg1 {
        margin-top: 34px;
        color: #FF9B54;
    }
    .msg2 {
        color: #FFF;
        font-size: 5rem;
        font-weight: 100;
    }
    .msg3 {
        color: #e1e1e1;
        margin-bottom: 34px;
    }
    .signup {
        min-height: 300px;
    }
}
