<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="teleportApp" itemscope itemtype="http://schema.org/Product">
    {% include head.html %}
<header class="big-poster">

</header>

<article>
    <header>
        <div class="row">
            <h1 class="text-center">iMega Teleport 2</h1>
        </div>
    </header>
</article>

{{ content }}

<footer class="dark">
    <div class="row -table">
        <div class="large-4 columns">
            <h4>© Copyright 2015 iMega - All Rights Reserved</h4>
        </div>
        <div class="large-8 columns">
            <ul class="menu vertical">
                <li><a href="http://imega.club">iMega's blog</a></li>
                <li><a href="https://github.com/iMega">iMega’s GitHub account</a></li>
                <li><a href="https://hub.docker.com/u/imega/">iMega’s Docker Hub account</a></li>
                <li><a href="https://twitter.com/iMegaCompany">iMega’s Twitter account</a></li>
                <li><a href="https://www.facebook.com/iMegaCompany">iMega’s Facebook account</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="/js/common.js" type="text/javascript"></script>
</body>
</html>
